pip<24.1
faster-whisper==1.1.1
ctranslate2==4.6.0
tokenizers==0.13.3
pyannote.audio==3.1.1
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
pytorch-lightning==2.0.2
huggingface-hub==0.16.4
soundfile==0.10.3.post1
tqdm
requests
humanfriendly
coloredlogs
av
numpy==1.24.4
--extra-index-url https://download.pytorch.org/whl/cpu

